/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Ovo&display=swap'); */
@import 'tailwindcss';

:root {
  --color-lightHover: '#fcf4ff';
  --color-darkHover: '#2a004a';
  --color-darkTheme: '#11001f';
  --font-outfit: 'Outfit', sans-serif;
  --font-ovo: 'Ovo', serif;
}

* {
  font-family: var(--font-outfit);
}

/* === Custom Utility Classes === */

/* Background Colors */
.bg-light-hover {
  background-color: var(--color-lightHover);
}

.bg-dark-hover {
  background-color: var(--color-darkHover);
}

.bg-dark-theme {
  background-color: var(--color-darkTheme);
}

/* Text Colors */
.text-dark-theme {
  color: var(--color-darkTheme);
}

/* Font Families */
.font-outfit {
  font-family: var(--font-outfit);
}

.font-ovo {
  font-family: var(--font-ovo);
}
